<header class="">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <img
        style="width: 200px; margin-left: -25px"
        src="/assets/images/logosamagokhvert.svg"
        alt=""
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#apropos">A Propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#commentçamarche">Comment ça marche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#staistiques">Statistiques</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#galerie">Galerie</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <!-- Section de présentation -->
  <section class="hero-banner mb-5">
    <div class="container d-flex flex-column justify-content-center gap-5">
      <div class="row">
        <div class="col col-logo">
          <img src="/assets/images/logobeige01.svg" alt="" />
        </div>
        <div class="col d-flex align-items-end">
          <h1 class="card-title">
            Bienvenue à <span>sama gokh</span> la plateforme qui regroupe tous
            les communes du sénégal à leurs résidants.
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col col-btn d-flex justify-content-center gap-3">
          <a [routerLink]="['/register']" class="btn inscription">
            <i class="fa-solid fa-right-to-bracket"></i>Inscription
          </a>
          <a [routerLink]="['/login']" class="btn connexion">
            <i class="fa-solid fa-circle-user"></i>Connexion
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Section A propos -->
  <section id="apropos" class="my-5">
    <img class="griffe" src="/assets/images/griffe_de_lion.svg" alt="" />
    <div class="container">
      <div class="row apropos-content">
        <div class="col">
          <div class="row">
            <img
              class="apropos-img"
              src="/assets/images/imgapropos.jpg"
              alt=""
            />
          </div>
          <div class="row nos-mission-txt mt-3">
            <div class="col-2 d-flex">
              <h1 class="" style="writing-mode: vertical-lr">NOS MISSIONS</h1>
              <hr class="align-self-end" />
            </div>
            <div class="col col-txt">
              <h2>
                Chez Sama Gokh, nous croyons fermement que chaque habitant a un
                rôle crucial à jouer dans la gestion et le développement de sa
                commune. Notre mission est de renforcer l’implication des
                citoyens en les intégrant directement dans le processus
                décisionnel concernant les projets municipaux. Nous visons à
                créer une plateforme transparente et participative où chaque
                voix compte et où les décisions sont prises en tenant compte des
                avis et des besoins de la communauté.
              </h2>
            </div>
          </div>
        </div>
        <div class="col col-right">
          <div class="apropos-title">
            <img
              class="griffe-apropos"
              src="/assets/images/griffe_de_lion.svg"
              alt=""
            />
            <h1>A-propos</h1>
            <hr />
          </div>
          <div class="card w-100">
            <div class="card-body">
              <h3>SAMA GOKH</h3>
              <h1 class="card-title mb-3">NOS OBJECTIFS:</h1>
              <ul class="d-flex flex-column gap-3">
                <li>Favoriser la Participation Citoyenne</li>
                <li>Améliorer la Transparence</li>
                <li>Encourager l’Innovation Locale</li>
                <li>Renforcer le Lien Communautaire</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="baobab" src="/assets/images/baobabsamagokh.svg" alt="" />
  </section>

  <!-- Section Comment ça marche 1 -->
  <section id="commentçamarche">
    <div class="comment-title d-flex flex-column align-items-center">
      <h1>Comment ça fonctionne?</h1>
      <hr />
    </div>
    <div class="bg-beige">
      <div class="container">
        <div class="row bg-beige-content">
          <div class="col">
            <iframe
              src="https://www.youtube.com/embed/QGWwwUaVK6k?si=qR5LV_YluMANMmyF"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col col-txt">
            <div class="comment-title">
              <h1>Inscription et connexion</h1>
              <hr />
            </div>
            <p>
              <strong>Inscription</strong> : Les citoyens doivent s'inscrire en
              fournissant des informations personnelles et en vérifiant leur
              identité pour prouver leur résidence dans la commune. <br /><br />
              <strong>Connexion</strong> : Après inscription, les utilisateurs
              peuvent se connecter pour accéder à toutes les fonctionnalités,
              soumettre des projets, voter et suivre les projets en cours.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section Comment ça marche 2 -->
  <section id="commentçamarche2" class="">
    <div class="bg-green">
      <div class="container">
        <div class="row bg-green-content">
          <div class="col col-txt">
            <div class="comment-title">
              <h1>Soumission de Projets</h1>
              <hr />
            </div>
            <p>
              Les citoyens peuvent soumettre leurs idées de projets via notre
              plateforme. Chaque proposition est examinée et, si elle répond aux
              critères établis, est mise en ligne pour obtenir les avis de la
              communauté.
            </p>
          </div>
          <div class="col">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/QGWwwUaVK6k?si=qR5LV_YluMANMmyF"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section Comment ça marche 3 -->
  <section id="commentçamarche">
    <div class="bg-beige">
      <div class="container">
        <div class="row">
          <div class="col">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/QGWwwUaVK6k?si=qR5LV_YluMANMmyF"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
          <div class="col col-txt">
            <div class="comment-title">
              <h1>Vote et Consultation</h1>
              <hr />
            </div>
            <p>
              Les projets soumis sont soumis à un processus de vote en ligne.
              Les habitants peuvent exprimer leur opinion sur les projets en
              votant pour ceux qu'ils jugent les plus pertinents et utiles pour
              leur commune.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section CTA -->
  <section class="cta py-5">
    <div class="container d-flex justify-content-center">
      <div class="button-content">
        <img src="/assets/images/drapeausnpint.png" alt="" />
        <a [routerLink]="['/login']" class="btn">Soumettre un projet</a>
      </div>
    </div>
    <img class="baobab2" src="/assets/images/baobabsamagokh.svg" alt="" />
  </section>

  <!-- Section Staistiques -->
  <section id="statistiques">
    <div class="bg-green">
      <div class="container">
        <div class="row row-stat-content">
          <div class="col">
            <div class="row row-txt">
              <div class="h3-title">
                <h3>à explorer</h3>
                <hr />
              </div>
              <h1 class="stat-title">Territoire</h1>
              <p class="stat-txt mt-2">
                La plateforme Sama Gokh vise à renforcer la connexion entre les
                citoyens et leur environnement en intégrant les caractéristiques
                uniques de notre territoire dans la gestion des projets
                communaux.
              </p>
            </div>
            <div class="row bande-beige">
              <div class="col col01">
                <h1>557</h1>
                <p>communes</p>
              </div>
              <div class="col">
                <h1>19 017 613</h1>
                <p>Habitants</p>
              </div>
              <div class="col">
                <h1>196 722</h1>
                <p>km²</p>
              </div>
            </div>
          </div>
          <img
            class="pattern-renaissance"
            src="/assets/images/monument_rennaissance.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Témoignages -->
  <section id="temoignages">
    <img
      class="baobapatterntesti1"
      src="/assets/images/baobabsamagokh.svg"
      alt=""
    />
    <img
      class="baobapatterntesti"
      src="/assets/images/baobabsamagokh.svg"
      alt=""
    />
    <div class="testimonials py-5">
      <div class="container">
        <h2 class="text-center mb-5">Ce qu'ils disent de notre platforme</h2>
        <div
          id="carouselTestimonials"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                  <div class="testimonial p-4 text-center shadow-sm rounded">
                    <img
                      src="/assets/images/toast1.jpg"
                      alt="Client"
                      class="rounded-circle mb-4"
                      width="100"
                      height="100"
                    />
                    <p class="lead">
                      "Cette plateforme a totalement changé la façon dont je
                      m'implique dans ma communauté. Facile à utiliser et
                      vraiment efficace!"
                    </p>
                    <h5 class="mt-4">Mouhamed Thiam</h5>
                    <p class="text-muted">Habitant de la commune de Thiaroye</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                  <div class="testimonial p-4 text-center shadow-sm rounded">
                    <img
                      src="/assets/images/toast2.jpg"
                      alt="Client"
                      class="rounded-circle mb-4"
                      width="100"
                      height="100"
                    />
                    <p class="lead">
                      "Un excellent moyen de suivre les projets de la commune et
                      de donner son avis en toute simplicité."
                    </p>
                    <h5 class="mt-4">Marie Seck</h5>
                    <p class="text-muted">
                      Résidente active de la commune de Mbao
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                  <div class="testimonial p-4 text-center shadow-sm rounded">
                    <img
                      src="/assets/images/toast3.jpg"
                      alt="Client"
                      class="rounded-circle mb-4"
                      width="100"
                      height="100"
                    />
                    <p class="lead">
                      "J'adore la transparence que cette plateforme apporte dans
                      les décisions municipales."
                    </p>
                    <h5 class="mt-4">Mariame Sall</h5>
                    <p class="text-muted">
                      Citoyen engagé de la commune de Guédiewaye
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselTestimonials"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselTestimonials"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Section Galerie -->
</main>

<footer>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <div class="justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#apropos">A Propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#commentçamarche">Comment ça marche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#staistiques">Statistiques</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#galerie">Galerie</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
