<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<app-header></app-header>
<main>
  <section class="banner d-flex align-items-center">
    <div class="container d-flex justify-content-center">
      <h1>Détail du projet</h1>
    </div>
  </section>

  <section class="projet-content mt-5">
    <div class="container">
      <div class="row d-flex">
        <div class="col projet-txt">
          <h2>{{ project?.nom }}</h2>
          <p class="my-3">
            {{ project?.description }}
          </p>
          <div class="projet-infos">
            <div class="info-item my-3">
              <h3>Date de Début et de Fin</h3>
              <div class="d-flex align-items-center gap-4">
                <!-- Icône de calendrier -->
                <span class="material-symbols-outlined">calendar_today</span>
                <div>
                  <h4>
                    Date de Début :
                    {{ project?.date_debut | date : "dd/MM/yyyy" }}
                  </h4>
                  <h4>
                    Date de Fin : {{ project?.date_fin | date : "dd/MM/yyyy" }}
                  </h4>
                </div>
              </div>
            </div>
            <div class="info-item my-3">
              <h3>Budget</h3>
              <div class="d-flex align-items-center gap-4">
                <!-- Icône de budget -->
                <span class="material-symbols-outlined">attach_money</span>
                <div>
                  <h4>
                    {{
                      project?.budget
                        | currency : "F CFA" : "symbol" : "1.2-2" : "fr"
                    }}
                  </h4>
                </div>
              </div>
            </div>
            <div class="info-item my-3">
              <h3>Statut</h3>
              <div class="d-flex align-items-center gap-4">
                <!-- Icône de statut -->
                <span class="material-symbols-outlined">info</span>
                <div>
                  <h4>{{ project?.statut }}</h4>
                </div>
              </div>
            </div>
          </div>
          <!-- Section des boutons Modifier, Supprimer, et Retour -->
          <div class="action-buttons d-flex gap-3">
            <button
              *ngIf="isCurrentUser()"
              class="btn btn-edit"
              [routerLink]="['/edit-project', project.id]"
            >
              <span class="material-symbols-outlined">edit</span> Modifier
            </button>
            <button
              *ngIf="isCurrentUser()"
              class="btn btn-delete"
              (click)="supprimerProjet(project.id)"
            >
              <span class="material-symbols-outlined">delete</span> Supprimer
            </button>
            <button class="btn btn-back" (click)="goBack()">
              <span class="material-symbols-outlined">arrow_back</span> Retour
            </button>
          </div>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="d-flex flex-column gap-4">
            <div>
              <!-- Photo du projet -->
              <img
                class="rounded"
                [src]="project?.photo"
                alt="Photo du projet"
              />
            </div>
            <div class="row d-flex ms-2 gap-3">
              <div class="col-1 text-center" >
                <div class="approuve">
                  <i
                    class="vote-icon"
                    [ngClass]="{ voted: voted, 'not-voted': !voted }"
                    (click)="onVotePour()"
                  >
                    <span class="material-symbols-outlined">thumb_up</span>
                  </i>
                  <span class="vote-count">{{ votesPour }}</span>
                </div>
              </div>
              <div class="col-1 text-center">
                <div class="desapprouve">
                  <i>
                    <span class="material-symbols-outlined">thumb_down</span>
                  </i>
                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Autres sections si nécessaire -->
      </div>
    </div>
  </section>

  <section>
    <div class="container my-4 d-flex flex-column">
      <!-- Section d'ajout de commentaire -->

      <!-- Section pour ajouter des commentaires -->
      <div class="input-group align-self-end mb-3">
        <input
          type="text"
          [(ngModel)]="commentaire"
          class="form-control"
          placeholder="Ajouter un commentaire"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="ajouterCommentaire()"
        >
          Envoyer
        </button>
      </div>
      <!-- Section des commentaires -->
      <!-- Section pour afficher les commentaires -->
      <div *ngFor="let commentaire of commentaires" class="comment-box d-flex">
        <!-- Afficher la photo ou une URL par défaut -->
        <img
          [src]="getImageUrl(commentaire.habitant.photo)"
          alt="{{ commentaire.habitant.nom }}"
        />

        <div class="comment-content">
          <div class="comment-header">{{ commentaire.habitant.prenom }}</div>
          <div class="comment-text">{{ commentaire.contenu }}</div>
        </div>

        <!-- Bouton de suppression, visible uniquement pour l'auteur du commentaire -->
        <button
          *ngIf="currentUserId === commentaire.habitant.user_id"
          (click)="supprimerCommentaire(commentaire.id)"
          class="btn btn-danger btn-sm"
        >
          Supprimer
        </button>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
