<!-- header.component.html -->
<nav class="navbar">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/img/logobeige01.svg" alt="Logo" width="200" height="80">
    </a>

    <!-- Pages de navigation -->
    <div class="d-flex align-items-center">
                   
    
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#notificationsModal">
      <i class="fa-regular fa-bell"></i>
      <span *ngIf="notifications.length > 0" class="badge">{{ notifications.length }}</span>
    </button>
        

      <a class="nav-link" [routerLink]="['/home']">Accueil</a>
      <a class="nav-link" href="#">Mes Projets</a>
      <a class="nav-link" href="#">
        <img src="assets/img/profile.png" alt="Profile" width="50" height="50" class="rounded-circle">
      </a>


    </div>
  </div>
</nav>
<!-- Modal -->
<div
class="modal fade"
id="notificationsModal"
tabindex="-1"
aria-labelledby="notificationsModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="notificationsModalLabel">
        Mes Notifications
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <section id="notifications">
        <div class="container">
          <h1 class="notifications-title">Mes Notifications</h1>
            <div class="notifications-list">
              <div *ngFor="let notification of notifications" class="notification-card">
                <div class="notification-header">
                  <h2 class="notification-title">{{ notification.title }}</h2>
                  <button class="delete-btn" (click)="deleteNotification(notification.id)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
                <p class="notification-content">{{ notification.contenu }}</p>
                <span class="notification-date">{{ notification.created_at | date: 'dd MMMM yyyy, HH:mm' }}</span>
              </div>
            </div>
        </div>
      </section>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
      >
        Fermer
      </button>
    </div>
  </div>
</div>
</div>


