<div class="profile-container">
  <div class="profile-header">
    <h2>Profil de l'Habitant</h2>
  </div>

  <div class="profile-details">
    <div class="profile-picture">
      <img src="assets/img/profile.png" alt="Photo de profil">
    </div>
    <div class="profile-info">
      <h3>Informations Personnelles</h3>
      <ul>
        <li><strong>Nom :</strong> Célina Mendesh</li>
        <li><strong>Email :</strong> celina.mendesh&#64;gmail.com</li>
        <li><strong>Téléphone :</strong> +221773542545</li>
        <li><strong>Adresse :</strong> 123 Rue, Dakar, Sénégal</li>
      </ul>
    </div>
  </div>

  <div class="profile-contact">
    <h3>Contact</h3>
    <ul>
      <li><strong>Email :</strong> celina.mendesh&#64;gmail.com</li>
      <li><strong>Téléphone :</strong> +221773542545</li>
    </ul>
  </div>

  <div class="profile-preferences">
    <h3>Préférences</h3>
    <ul>
      <li><strong>Langue préférée :</strong> Français</li>
      <li><strong>Notifications :</strong> Activées</li>
    </ul>
  </div>

  <div class="profile-actions">
    <button class="edit-profile-btn" (click)="onSubmit()">Modifier Profil</button>
    <button class="logout-btn">Déconnexion</button>
  </div>
</div>
