<div class="project-container">
  <div class="mb-4" style="float: right;">
    <button routerLink="/sidebar1/projet/ajouter" type="button" class="btn btn-custom">Ajouter un Projet</button>
  </div>

  <h2 class="project-title">Liste des projets</h2>

  <!-- Filtrage des projets -->
  <div class="d-flex mb-3 ">
    <div class="flex-grow-1">
      <select id="filterCriteria" class="form-select" [(ngModel)]="selectedFilter" (change)="onFilterChange()">
        <option value="">Choisir un critère</option>
        <option value="nom">Nom du projet</option>
      </select>
    </div>
    <input type="text" [(ngModel)]="filterValue" [placeholder]="getPlaceholder()" (input)="applyFilters()" class="form-control  ">
  </div>
  

  <table class="project-table">
    <thead>
      <tr>
        <th>Nom du projet</th>
        <th>Budget</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let projet of filteredProjets">
        <td>{{ projet.nom }}</td>
        <td>{{ projet.budget }}</td>
        <td>{{ projet.statut }}</td>
        <td>
          <a [routerLink]="['/sidebar1/projet/detail/projet', projet.id]" class="icon-link">
            <span class="iconify" data-icon="mdi:eye"></span>
          </a>
          <a [routerLink]="['/sidebar1/projet/modifier', projet.id]" class="icon-link">
            <span class="iconify" data-icon="mdi:pencil"></span>
          </a>
          <a class="icon-link" (click)="supprimerProjet(projet.id)">
            <span class="iconify" data-icon="mdi:delete"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>
</div>
