<!-- Navbar -->
<app-header></app-header>


<!-- Home Banner -->
<div class="home-banner">
  <img src="assets/img/communauté.jpg" alt="Bannière" class="banner-image">
  <div class="container">
    <div class=" banner-text">
      <h1>Une plateforme unique pour l’engagement  communautaire </h1>
      <p>Bienvenue sur le Portail des Habitants de notre commune ! Ce portail est conçu pour renforcer la participation citoyenne et faciliter la communication entre les habitants et l'administration municipale. Notre objectif est de créer un espace interactif où chaque résident peut s'impliquer activement dans les projets et les décisions qui façonnent notre communauté.</p>
      <button class="submit-project-btn">Soumettre Projet</button>
    </div>
  </div>
</div>

<!-- Objectives Section -->
<div class="objectives">
  <h2>Nos Objectifs</h2>
  <hr class="underline">
  <p class="description">Nous nous engageons à faciliter la participation citoyenne, encourager les propositions de projets et assurer la transparence des décisions municipales.</p>
  <div class="cards">
    <div class="card">
      <h3>Faciliter la participation citoyenne</h3><br>
      <p> Offrir aux habitants la possibilité de soumettre leurs propres idées et projets pour le bien de la communauté, renforçant ainsi le sentiment d'appartenance et de responsabilité collective.</p>
    </div>
    <div class="card middle-card">
      <h3>Encourager les propositions de projets</h3><br>
      <p> Fournir des informations claires et à jour sur les projets, les budgets, les échéanciers, et les décisions municipales, assurant ainsi une transparence totale.</p>
    </div>
    <div class="card">
      <h3>Assurer la transparence des décisions municipales</h3><br>
      <p>Permettre aux habitants de s'informer sur les projets en cours, de donner leur avis, de voter et de participer à des discussions constructives.</p>
    </div>
  </div>
</div>


<div class="projects-list">
  <h2>Liste des Projets</h2>
  <hr class="underline">
  <div *ngFor="let projet of projets" class="project-cards">
    <div class="project-image-container">
     <img [src]="projet.photo || 'https://via.placeholder.com/300x200'" alt="Image du projet" class="project-image">
    </div>
    <div class="project-card">
      <div class="project-content">
        <h3>{{ projet.titre }}</h3>
        <p>{{ projet.description }}</p>
        <button class="details-btn">Voir Détail</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
