<div class="container mt-5">
    <h2 class="text-center mb-4">Formulaire d'ajout de Projet</h2>
    <form>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" id="nom" class="form-control" placeholder="Nom">
        </div>
        <div class="col-md-6">
          <label for="dateDebut" class="form-label">Date de début</label>
          <input type="date" id="dateDebut" class="form-control" placeholder="date de début">
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="description" class="form-label">Description</label>
          <textarea id="description" class="form-control" rows="3" placeholder="Description du projet"></textarea>
        </div>
        <div class="col-md-6">
          <label for="dateFin" class="form-label">Date de fin</label>
          <input type="date" id="dateFin" class="form-control" placeholder="date de fin">
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="statut" class="form-label">Statut</label>
          <input type="text" id="statut" class="form-control" placeholder="Statut">
        </div>
        <div class="col-md-6">
          <label for="budget" class="form-label">Budget</label>
          <input type="number" id="budget" class="form-control" placeholder="budget">
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="photo" class="form-label">Photo</label>
          <input type="file" id="photo" class="form-control" placeholder="Photo">
        </div>
      </div>
  
      <div class="d-flex justify-content mt-4">
        <button type="submit" class="btn btn_submit me-3">Ajouter</button>
        <button routerLink="/projet" type="reset" class="btn btn_cancel">Annuler</button>
      </div>
    </form>
  </div>
  
