<div class="container my-4 mt-5">
  <!-- Bouton Ajouter en haut -->
  <div class="mb-4">
    <button type="button" class="btn btn-custom" (click)="navigateToAddCommune()">Ajouter une commune</button>
  </div>

  <!-- Toolbar avec filtrage sur la même ligne -->
  <div class="d-flex mb-4">
    <label for="filterCriteria" class="me-2 align-self-center">Filtrer par :</label>
    
    <div class="flex-grow-1 me-2">
      <select id="filterCriteria" class="form-select w-100" [(ngModel)]="selectedFilter" (change)="onFilterChange()">
        <option value="">Choisir un critère</option>
        <option value="nom_commune">Nom de la commune</option>
        <option value="region">Région</option>
        <option value="departement">Département</option>
      </select>
    </div>

    <div *ngIf="selectedFilter" class="flex-grow-1">
      <input
        [attr.placeholder]="getPlaceholder()"
        class="form-control w-100"
        [(ngModel)]="filterValue"
        (ngModelChange)="applyFilters()"
        placeholder="Entrez votre recherche"
      >
    </div>
  </div>

  <!-- Table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Département</th>
        <th>Région</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let commune of filteredCommunes">
        <td>{{ commune.nom_commune }}</td>
        <td>{{ commune.departement }}</td>
        <td>{{ commune.region }}</td>
        <td>
          <a [routerLink]="['/sidebar/commune/edit', commune.id]" class="btn btn-sm btn-edit me-2">
            <span class="material-symbols-outlined">border_color</span>
          </a>
          <button (click)="showHabitants(commune.id)" class="btn btn-sm me-2">
            <!-- SVG Icon Here -->
          </button>
          <button (click)="deleteCommune(commune.id)" class="btn btn-sm btn-delete" type="button">
            <span class="material-symbols-outlined">delete</span>
          </button>
        </td>
      </tr>
      <!-- Ajoutez d'autres lignes ici -->
    </tbody>
  </table>
</div>
