<div class="container">
  <div class="row">
    <div class="back-arrow">
      <i [routerLink]="['/sidebar1/habitant/detail/habitant', project?.habitantsId]" class="fa-solid fa-arrow-left"></i>
    </div>
    <div class="col-md-8">
      <div class="project-details">
        <p> <strong>Projet:</strong> <span>{{ project?.nom }}</span> </p>
        <p> <strong>Statut:</strong> <span>{{ project?.statut }}</span> </p>
        <p> <strong>Date début:</strong> <span>{{ project?.date_debut | date: 'dd/MM/yyyy' }}</span> </p>
        <p> <strong>Date fin:</strong> <span>{{ project?.date_fin | date: 'dd/MM/yyyy' }}</span> </p>
        <p> <strong>Budget:</strong> <span>{{ project?.budget | currency : 'F CFA':'symbol':'1.2-2':'fr' }}</span> </p>
        <p> <strong>Description:</strong> <span>{{ project?.description }}</span> </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-image">
        <img [src]="project?.photo" alt="Image du projet">
      </div>
    </div>
  </div>

  <div class="actions">
    <button class="approve-btn">Approuver</button>
    <button class="disapprove-btn">Désapprouver</button>
  </div>
</div>
