<div class="container my-4 mt-5">
 
  <h2 class="my-4">Communes de la région de : {{ region }}</h2>

  <!-- Table -->
  <table class="table table-striped w-100">
    <thead>
      <tr>
        <th class="w-25">Nom</th>
        <th class="w-25">Département</th>
        <th class="w-25">Région</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let commune of communes">
        <td>{{ commune.nom_commune }}</td>
        <td>{{ commune.departement }}</td>
        <td>{{ commune.region }}</td>
      </tr>
    </tbody>
  </table>
   <!-- Bouton Retour en haut -->
   <button type="button" class="btn btn-secondary mt-4" (click)="goBack()">RETOUR</button>
  
</div>
