<app-header></app-header>


<div class="jumbotron text-center custom-banner py-5">
  <div class="container">
    <h1 class="display-4">Bienvenue au Portail des Habitants</h1>
    <p class="lead">Participez activement au développement de votre commune.</p>
    <a class="btn custom-btn " href="#" role="button">Soumettre Projet</a>
  </div>
</div>



<section class="projects-list">
  <h2 class="title-left">Liste des Projets</h2>
  <div class="underline"></div>

  <!-- Filter Section -->
  <div class="filter-section">
    <label for="filter">Filtrer par:</label>
    <select id="filter">
      <option value="all">Tous</option>
      <option value="en_cours">En cours</option>
      <option value="termine">Terminé</option>
      <option value="actif">Actif</option>
    </select>
  </div>

  <!-- Project Cards -->

  <div class="project-cards">
    <div class="project-image-container">
      <img src="assets/img/Rectangle_24.png" alt="Project Image" class="project-image">
    </div>
    <div class="project-card">
      <div class="project-content">
        <h3>Rénovation du Parc Central</h3>
        <p>Le projet de rénovation du parc central vise à revitaliser et moderniser l'un des espaces verts les plus emblématiques de la commune...</p>
        <button class="details-btn">Voir Détail</button>
      </div>
    </div>
  </div>

  <div class="project-cards">
    <div class="project-image-container">
      <img src="assets/img/soutien_scolaire.jpg" alt="Project Image" class="project-image">
    </div>
    <div class="project-card">
      <div class="project-content">
        <h3>Programme de soutien scolaire</h3>
        <p>Le programme de soutien scolaire est une initiative communautaire conçue pour améliorer les performances académiques des élèves...</p>
        <button class="details-btn">Voir Détail</button>
      </div>
    </div>
  </div>

  <div class="project-cards">
    <div class="project-image-container">
      <img src="https://i.pinimg.com/564x/98/38/ef/9838ef34efd1688ec39aa4fe1804b2b5.jpg" alt="Project Image" class="project-image">
    </div>
    <div class="project-card">
      <div class="project-content">
        <h3>Clinique mobile de santé</h3>
        <p>Le projet de clinique mobile de santé est une initiative novatrice visant à offrir des services de santé de qualité aux populations rurales...</p>
        <button class="details-btn">Voir Détail</button>
      </div>
    </div>
  </div>

  <div class="project-cards">
    <div class="project-image-container">
      <img src="assets/img/construction.jpg" alt="Project Image" class="project-image">
    </div>
    <div class="project-card">
      <div class="project-content">
        <h3>Construction d'une nouvelle école</h3>
        <p>Le projet de construction d'une nouvelle école vise à offrir un meilleur environnement éducatif aux enfants de la commune...</p>
        <button class="details-btn">Voir Détail</button>
      </div>
    </div>
  </div>

</section>
<app-footer></app-footer>

