<div class="container mt-5">
    <h2 class="text-center">{{ isEditMode ? 'Formulaire de modification de commune' : 'Formulaire d’ajout de commune' }}</h2>
  
    <div class="row container-custom">
      <!-- Image à gauche -->
      <div class="col-6 image-container">
        <img src="assets/images/formulaire.png" alt="Image descriptive">
      </div>
  
      <!-- Formulaire à droite -->
      <div class="col-6 form-container">
        <form [formGroup]="communeForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nom">Nom de la commune</label>
            <input type="text" class="form-control" id="nom" formControlName="nom_commune" placeholder="Entrez le nom">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Entrez l'email">
          </div>
          <div class="form-group">
            <label for="motdepasse">Mot de passe</label>
            <input type="password" class="form-control" id="motdepasse" formControlName="password" placeholder="Entrez le mot de passe">
          </div>
          <div class="form-group">
            <label for="departement">Département</label>
            <input type="text" class="form-control" id="departement" formControlName="departement" placeholder="Entrez le département">
          </div>
          <div class="form-group">
            <label for="region">Région</label>
            <select class="form-control" id="region" formControlName="region">
              <option value="">Sélectionnez la région</option>
              <option value="dakar">Dakar</option>
              <option value="thiès">Thiès</option>
              <option value="saint-louis">Saint-Louis</option>
              <option value="kaolack">Kaolack</option>
              <option value="ziguinchor">Ziguinchor</option>
              <option value="louga">Louga</option>
              <option value="fatick">Fatick</option>
              <option value="matam">Matam</option>
              <option value="tambacounda">Tambacounda</option>
              <option value="kolda">Kolda</option>
              <option value="kedougou">Kédougou</option>
              <option value="sedhiou">Sédhiou</option>
            </select>
          </div>
          <div class="foot">
            <button type="button" class="btn btn-secondary mt-4" (click)="goBack()">RETOUR</button>
            <div class="button-container">
              <button type="submit" class="btn btn-primary" [disabled]="!communeForm.valid || communeForm.pristine">
                {{ isEditMode ? 'MODIFIER' : 'AJOUTER' }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  