<div class="container mt-5">
    <h2 class="text-center">{{ isEditMode ? 'Formulaire de modification de commune' : 'Formulaire d’ajout de commune' }}</h2>
  
    <div class="row container-custom">
      <!-- Image à gauche -->
      <div class="col-6 image-container">
        <img src="assets/images/formulaire.png" alt="Image descriptive">
        <button type="button" class="btn btn-secondary mt-4" (click)="goBack()">RETOUR</button>
      </div>
  
      <!-- Formulaire à droite -->
      <div class="col-6 form-container">
        <form [formGroup]="communeForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nom">Nom de la commune</label>
            <input type="text" class="form-control" id="nom" formControlName="nom_commune" placeholder="Entrez le nom">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Entrez l'email">
          </div>
          <div class="form-group">
            <label for="motdepasse">Mot de passe</label>
            <input type="password" class="form-control" id="motdepasse" formControlName="password" placeholder="Entrez le mot de passe">
          </div>
          <div class="form-group">
            <label for="departement">Département</label>
            <input type="text" class="form-control" id="departement" formControlName="departement" placeholder="Entrez le département">
          </div>
          <div class="form-group">
            <label for="region">Région</label>
            <select class="form-control" id="region" formControlName="region">
              <option value="">Sélectionnez la région</option>
              <option value="Dakar">Dakar</option>
              <option value="Thiès">Thiès</option>
              <option value="Saint-Louis">Saint-Louis</option>
              <option value="Diourbel">Diourbel</option>
              <option value="Kaffrine">Kaffrine</option>
              <option value="Kaolack">Kaolack</option>
              <option value="Ziguinchor">Ziguinchor</option>
              <option value="Louga">Louga</option>
              <option value="Fatick">Fatick</option>
              <option value="Matam">Matam</option>
              <option value="Tambacounda">Tambacounda</option>
              <option value="Kolda">Kolda</option>
              <option value="Kedougou">Kédougou</option>
              <option value="Sedhiou">Sédhiou</option>
            </select>
          </div><br><br>
          <button type="submit" class="btn btn-primary" [disabled]="!communeForm.valid || communeForm.pristine">
            {{ isEditMode ? 'MODIFIER' : 'AJOUTER' }}
          </button>
        </form>
      </div>
    </div>
    
  </div>
  