<div class="container mt-5">
    <h2 class="text-center">Liste des utilisateurs de la commune</h2>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Numéro CNI</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let habitant of habitants">
                <td>{{ habitant.prenom }}</td>
                <td>{{ habitant.nom }}</td>
                <td>{{ habitant.numero_identite }}</td>
            </tr>
        </tbody>
    </table>
</div>
