

    <div class="container mt-5">
        <h2 class="text-center">Liste des utilisateurs de la commune</h2>

        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Numéro CNI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Amina</td>
                    <td>Fall</td>
                    <td>123456789</td>
                </tr>
                <tr>
                    <td>Marie</td>
                    <td>Diop</td>
                    <td>987654321</td>
                </tr>
                <tr>
                    <td>Paul</td>
                    <td>Ndiaye</td>
                    <td>567890123</td>
                </tr>
                <!-- Ajoutez d'autres lignes ici -->
            </tbody>
        </table>
    </div>


