<div class="container mt-5">
    <h2 class="text-center">Liste des utilisateurs de la commune: {{ communeName }}</h2>
  
    <!-- Bouton de retour -->
    <button (click)="retour()" class="btn btn-secondary mb-3">
      Retour
    </button>
  
    <!-- Affichage du message si la liste des habitants est vide -->
    <div *ngIf="habitants.length === 0" class="alert alert-info mt-4 text-center">
      Aucun utilisateur trouvé pour cette commune.
    </div>
  
    <!-- Affichage du tableau si la liste des habitants n'est pas vide -->
    <table *ngIf="habitants.length > 0" class="table table-striped mt-4">
      <thead>
        <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Numéro CNI</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let habitant of habitants">
          <td>{{ habitant.prenom }}</td>
          <td>{{ habitant.nom }}</td>
          <td>{{ habitant.numero_identite }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  