<div class="layout">
  <div class="sidebar">
      <div class="logo">
          <img src="assets/images/logosmgokh.svg" alt="logo de sama ngokh noir">
      </div>
      <ul class="menu-links">
          <li>
              <a routerLink="/sidebar1/dashboard" routerLinkActive="active"><span class="iconify" data-icon="mdi:home"></span> Tableau de bord</a>
          </li>
          <li>
              <a routerLink="/sidebar1/projet" routerLinkActive="active"><span class="iconify" data-icon="mdi:file-document-box"></span> Projets</a>
          </li>
          <li>
              <a routerLink="/sidebar1/habitant" routerLinkActive="active"><span class="iconify" data-icon="mdi:account-group"></span> Habitants</a>
          </li>
      </ul>
      <div class="logout">
          <a href="#" (click)="logout($event)" routerLinkActive="active"><span class="iconify" data-icon="mdi:logout"></span> Déconnexion</a>
      </div>   
  </div>
  <div class="main-content">
    <div class="topbar">
      <div class="left-section">
        <h3>Municipalité {{ nomCommune }}</h3>
        <p>Bienvenue!</p>
      </div>
      <div class="right-section">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#notificationsModal">
          <span class="iconify" data-icon="mdi:bell"></span>
          <span *ngIf="notifications.length > 0" class="badge">{{ notifications.length }}</span>
        </button>              
        <button (click)="openParametreModal()" class="btn">
          <span class="iconify" data-icon="mdi:cog"></span>
        </button>      
      </div>
    </div>
    
      <router-outlet></router-outlet>
  </div>
</div>
<div class="modal fade" id="parametreModal" tabindex="-1" aria-labelledby="parametreModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="parametreModalLabel">Paramètres de la Municipalité</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Contenu du modal -->
        <app-parametre></app-parametre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal de Notifications -->
<div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notificationsModalLabel">Mes Notifications</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section id="notifications">
          <div class="container">
            <h1 class="notifications-title">Mes Notifications</h1>
            <div class="notifications-list">
              <div *ngFor="let notification of notifications" class="notification-card">
                <div class="notification-header">
                  <h2 class="notification-title">{{ notification.title }}</h2>
                  <button class="delete-btn" (click)="deleteNotification(notification.id)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
                <p class="notification-content">{{ notification.contenu }}</p>
                <span class="notification-date">{{ notification.created_at | date: 'dd MMMM yyyy' }}</span>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
